/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 62.5%;
  width: 100%;
}
body {
  height: 100%;
  background-color: #c9af98;
  font-family: 'Source Code Pro', monospace;
}
img {
  width: 20%;
}
@media (max-width: 500px) {
  nav {
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
  }
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.4rem;
}
nav a {
  text-decoration: none;
  color: black;
}
.head {
  font-size: 3rem;
  width: 40rem;
  text-align: center;
  background-color: #111111;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  padding-bottom: 0.4rem;
  color: #FF4136;
}
.top-content {
  background-color: #bd8c7d;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.top-content header {
  font-size: 3rem;
  width: 40rem;
  text-align: center;
  background-color: #111111;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  padding-bottom: 0.4rem;
  color: #FF4136;
}
.top-content h1 {
  font-size: 3rem;
  width: 40rem;
  text-align: center;
  background-color: #111111;
  margin: 1rem 1rem 1rem 1rem;
  border-radius: 2rem;
  padding-bottom: 0.4rem;
  color: #FF4136;
}
.content {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.content .about-me {
  font-size: 2rem;
  border: 2rem solid #d1bfa7;
  margin-bottom: 2rem;
}
.content .about-me h2 {
  margin-bottom: 1rem;
}
.content .about-me p {
  margin-bottom: 1rem;
}
.content .about-me h3 {
  margin-bottom: 1rem;
}
.content h2 {
  border: 0.1rem solid black;
  font-size: 3rem;
  text-align: center;
  background-color: black;
  border-radius: 1.5rem;
  width: 20rem;
  color: #FF4136;
}
.content .list li {
  text-align: center;
  padding-bottom: 1rem;
}
